*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:Arial, Helvetica, sans-serif;
background:#0a0a0a;
color:white;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;

```
padding:20px 50px;

background:#111;

border-bottom:1px solid #222;

position:sticky;
top:0;
z-index:1000;
```

}

.logo{
font-size:32px;
font-weight:bold;
color:#E50914;
letter-spacing:2px;
}

.nav-links a{
color:white;
text-decoration:none;
margin-left:25px;
transition:0.3s;
}

.nav-links a:hover

/* HERO */

.hero{
min-height:80vh;

```
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;

padding:40px;
```

}

.hero h1{
font-size:5rem;
font-weight:900;

```
color:white;

text-shadow:
0 0 20px rgba(229,9,20,0.4);

margin-bottom:20px;
```

}

.hero p{
color:#b3b3b3;
font-size:1.3rem;

```
margin-bottom:40px;
```

}

/* SEARCH */

.search-bar{

```
width:80%;
max-width:900px;

padding:22px;

border-radius:50px;

border:2px solid #222;

background:#151515;

color:white;

font-size:18px;

outline:none;

transition:0.3s;
```

}

.search-bar:focus{

```
border-color:#E50914;

box-shadow:
0 0 25px rgba(229,9,20,0.5);
```

}

/* SUBJECTS */

.subjects{
padding:50px;
}

.subjects h2{
margin-bottom:25px;
}

.subject-row{

```
display:flex;
justify-content:center;

gap:25px;

flex-wrap:wrap;
```

}

/* SUBJECT CARDS */

.subject-card{

```
width:320px;

height:220px;

background:#151515;

border-radius:20px;

padding:30px;

text-decoration:none;

color:white;

transition:0.35s;
```

}

.subject-card:hover{

```
transform:
translateY(-10px)
scale(1.03);

box-shadow:
0 0 30px rgba(229,9,20,0.35);
```

}

.subject-card h3{

```
color:#E50914;

font-size:2rem;

margin-bottom:15px;
```

}

.subject-card p{

```
color:#cccccc;

line-height:1.7;
```

}

/* POPULAR */

.popular{
padding:50px;
}

.popular h2{
margin-bottom:25px;
}

.chapter-row{

```
display:flex;
gap:20px;

flex-wrap:wrap;
```

}

.chapter-card{

```
width:250px;

background:#151515;

padding:30px;

border-radius:15px;

transition:0.3s;

cursor:pointer;
```

}

.chapter-card:hover{

```
transform:scale(1.05);

border:1px solid #E50914;
```

}

/* FOOTER */

footer{

```
text-align:center;

padding:50px;

color:#777;
```

}

/* MOBILE */

@media(max-width:768px){

```
.navbar{
    flex-direction:column;
    gap:15px;
}

.hero h1{
    font-size:2.8rem;
}

.search-bar{
    width:95%;
}

.subjects,
.popular{
    padding:25px;
}
```

}

