*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial,sans-serif;

    background:#0f0f0f;

    color:white;
}

/* NAVBAR */

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 50px;

    background:#111;

    position:sticky;

    top:0;

    z-index:100;
}

.logo{

    font-size:28px;

    font-weight:bold;

    color:#00bfff;
}

.nav-links a{

    color:white;

    text-decoration:none;

    margin-left:25px;

    transition:0.3s;
}

.nav-links a:hover{

    color:#00bfff;
}

/* HERO */

.hero{

    height:80vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    background:
    linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.8)
    ),
    url("https://images.unsplash.com/photo-1503676382389-4809596d5290?auto=format&fit=crop&w=1600&q=80");

    background-size:cover;

    background-position:center;
}

.hero h1{

    font-size:4rem;

    margin-bottom:20px;
}

.hero p{

    font-size:1.3rem;

    margin-bottom:30px;
}

.search-bar{

    width:60%;

    max-width:600px;

    padding:15px;

    border:none;

    border-radius:30px;

    font-size:16px;
}

/* SECTION */

.subjects,
.popular{

    padding:50px;
}

.subjects h2,
.popular h2{

    margin-bottom:25px;
}

/* NETFLIX ROW */

.subject-row{

    display:flex;

    gap:25px;

    overflow-x:auto;

    padding-bottom:10px;
}

/* SUBJECT CARD */

.subject-card{

    min-width:280px;

    height:220px;

    padding:25px;

    border-radius:20px;

    text-decoration:none;

    color:white;

    transition:0.3s;

    flex-shrink:0;
}

.subject-card:hover{

    transform:
    scale(1.05)
    translateY(-5px);
}

.physics-card{

    background:
    linear-gradient(
    135deg,
    #0077cc,
    #00bfff
    );
}

.chemistry-card{

    background:
    linear-gradient(
    135deg,
    #8e44ad,
    #c0392b
    );
}

.maths-card{

    background:
    linear-gradient(
    135deg,
    #f39c12,
    #f1c40f
    );
}

/* CHAPTER CARDS */

.chapter-card{

    min-width:250px;

    background:#1f1f1f;

    padding:30px;

    border-radius:15px;

    transition:0.3s;

    cursor:pointer;
}

.chapter-card:hover{

    transform:scale(1.05);

    background:#2b2b2b;
}

/* FOOTER */

footer{

    text-align:center;

    padding:40px;

    color:#aaa;
}

/* MOBILE */

@media(max-width:768px){

    .navbar{

        flex-direction:column;

        gap:15px;
    }

    .hero h1{

        font-size:2.5rem;
    }

    .search-bar{

        width:90%;
    }

}
